<div class="conteiner">
    <ng-container *ngIf="!register; else registerPage" >
        @defer (when !register) 
    {
            <app-header
            (register)="register = $event"
            ></app-header>
        <div class="background-image-conteiner">
            <app-background-image></app-background-image>
        </div>
        <app-navbar></app-navbar>
        <app-recommended-book-section></app-recommended-book-section>
        <app-best-selling-book-section></app-best-selling-book-section>    
    
    }
    </ng-container>
   
    <ng-template #registerPage>
       @defer (when register)
        {
            <app-register/>
        }  
    </ng-template>
   
    
</div> 

 <!-- <app-register/> -->
 <!-- <app-tutorial/> -->
<nav >
    <ul>
        <li>
            <a href="./pages/tutorial/tutorial.component.html"> tutorial</a>
            |
            <a href="/src/app/pages/form/register/register">Register</a>
        </li>
    </ul>
</nav> 
<router-outlet></router-outlet>
 
