.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    align-items: space-between;
}

.title-container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.book-card-container 
{
   margin-bottom: 5%; 
}